{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% for article in tags %}
            <div class="col-xs-12 col-md-6">
                <article class="thumbnail">
                    <a href="{{ path('article', {'id': article.id}) }}">
                        <img src="{{ article.picture }}" class="img-responsive" alt="{{ article.title }}">
                        <h2>{{ article.title }}</h2>
                    </a>
                    <time>{{ article.updatedAt|date("d/m/Y") }}</time>
                    <p>{{ article.content|truncate(100)|raw }}</p>
                    <a href="#">{{ article.category.name }}</a>

                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}